.button {
    border: none;
    background-color: transparent;
    min-width: var(--size-128);
    height: var(--size-32);
    padding-inline: var(--space-3);
    cursor: pointer;
    border-radius: var(--rounded);
    outline-offset: -2px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-3);

    transition: outline-offset .2s var(--easeOutSine);

    --primary: var(--primary-500);
    --primary-hover: var(--primary-600);
    --outline-hover: var(--primary-100);
    --primary-disabled: var(--primary-300);

    @media (prefers-color-scheme: dark) {
        --primary: var(--primary-300);
        --primary-hover: var(--primary-200);
        --outline-hover: var(--primary-900);
        --primary-disabled: var(--primary-500);
    }

    &:focus {
        outline: 2px solid var(--secondary);
        outline-offset: var(--size-2);
    }

    &:hover {
        outline: 2px solid var(--primary);
        outline-offset: var(--size-2);
    }

    &:disabled {
        pointer-events: none;
    }

    &.button--primary {
        background-color: var(--primary);
        color: var(--bg-color);

        &:hover {
            background-color: var(--primary-hover);
        }

        &:disabled {
            background-color: var(--primary-disabled);
        }
    }

    &.button--outline {
        border: 1px solid var(--primary);
        color: var(--primary);

        &:hover {
            background-color: var(--outline-hover);
        }

        &:disabled {
            border-color: var(--primary-disabled);
        }
    }
}