.confirm-dialog {
    margin: auto;
    border: none;

    width: var(--container-sm);
    max-width: 90vw;
    background-color: var(--bg-color);
    padding: 0;
    border-radius: var(--rounded-md);

    > p {
        padding: var(--space-7);
    }

    > form {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--space-4);
        padding: var(--space-4);
        background-color: var(--bg-accent);
    }

    @media (prefers-color-scheme: dark) {
        background-color: var(--bg-accent);

        > form {
            background-color: var(--bg-color);
        }
    }
}