<dialog data-dialog="confirm" class="confirm-dialog">
    <p data-dialog-message></p>
    <form method="dialog">
        <button value="cancel" class="button button--outline">Cancel</button>
        <button data-dialog-confirm="yes" class="button button--primary">OK</button>
    </form>
</dialog>